body {
  background-color: #ffffff;
}

.wrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

nav {
  display: flex;
  width: 100%;
  /* height: ; */
}

ul li a {
  margin-left: 1.5em;
}

a.logo {
  margin-left: 70px;
  margin-right: 750px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgba(174, 219, 237, 1);
  position: relative;
  font-size: 1.25em;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}

nav a::after {
  content: "";
  top: 75%;
  border-bottom: 2px solid #f8e71c;
  transition: all 0.35s;
  position: absolute;
}

a:hover::after {
  transition: all 0.35s;
}

a::after {
  right: 50%;
  left: 50%;
}

a:hover::after {
  right: 0;
  left: 0;
}

@media (max-width: 1024px) {
  .wrapper {
    height: 65px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  a.logo {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    margin-right: 0px;
  }

  ul {
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
  }

  ul li a {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  a.logo {
    margin: 1.5em;
  }

  ul {
    flex-direction: column;
  }

  ul li {
    margin: 0.3em;
    text-align: center;
  }

  ul li a {
    margin-left: 0px;
  }
}
.title h2 {
  text-align: center;
  margin-top: 90px;
  font-size: 70px;
  text-shadow: 2px 2px grey;
  color: rgba(174, 219, 237, 1);
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}
.title h4 {
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
  color: #97989d;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
/* 
body {
  background: #f9f9f9;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
} */

img {
  background-color: rgba(16, 46, 72, 0.6);
  background-blend-mode: multiply;
}

.container {
  padding: 1rem;
  float: left;
  margin-left: 240px;
  /* border-radius: 40px; */
}

.content {
  position: relative;
  width: 99%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  
}

.content .content-overlay {
  background: rgba(174, 219, 237,0.5);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  /* border-bottom: 18px solid #f8e71c; */
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 110%;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 60%;
  
}

.content-details h3 {
  color: #1d1d2b;
  font-weight: 1000;
  letter-spacing: 0.15em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}

.arrow {
  margin-left: 8px;
}

.content h3 {
  display: inline-block;
  position: relative;
  transition: all 800ms ease-out;
  will-change: transform;
}

.content:hover h3 {
  -webkit-transform: translate3d(-1rem, 0, 0);
  transform: translate3d(-0.5rem, 0, 0);
  border-bottom: 7px solid #f8e71c;
}
.content i {
  position: absolute;
  width: 1.1em;
  right: -1.4rem;
  opacity: 1;
  top: 38%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.content:hover i {
  opacity: 1;
  right: -3rem;
}
.container2 {
  padding: 1rem;
  /* float: left; */
  margin-left: 640px;
  /* border-radius: 40px; */
}

.content2 {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.content2 .content2-overlay {
  background: rgba(174, 219, 237,0.5);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content2:hover .content2-overlay {
  opacity: 1;
}

.content2-image {
  width: 100%;
  /* height: 30%; */
}

.content2-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}

.content2-details h3 {
  color: #1d1d2b;
  font-weight: 1000;
  letter-spacing: 0.15em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}

.arrow {
  margin-left: 8px;
}

.content2 h3 {
  display: inline-block;
  position: relative;
  transition: all 800ms ease-out;
  will-change: transform;
}

.content2:hover h3 {
  -webkit-transform: translate3d(-1rem, 0, 0);
  transform: translate3d(-0.5rem, 0, 0);
  border-bottom: 7px solid #f8e71c;

}
.content2 i {
  position: absolute;
  width: 1.1em;
  right: -1.4rem;
  opacity: 1;
  top: 38%; 
   -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.content2:hover i {
  opacity: 1;
  right: -3rem;
}