@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #fcfdfe;
  --second-bg-color: #84c2cd;
  --text-color: #f8f8f8;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 70vh;
  /* padding: 10rem 9% 2rem; */
}

.header {
  position: fixed;
  padding: 10rem 9% 2rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #70bfcd;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
/* .home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #49b0c2;
  background-color: #fcfdfe;

  position: relative;
  /* background-image: url(images/My project.png); */
  /* background-size: cover;
  background-position: center;
} */ */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMjAgMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+R3JvdXA8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAuMDAwMDAwLCA5LjAwMDAwMCkgcm90YXRlKC0zMzAuMDAwMDAwKSB0cmFuc2xhdGUoLTEwLjAwMDAwMCwgLTkuMDAwMDAwKSB0cmFuc2xhdGUoMC4wMDAwMDAsIC0xLjAwMDAwMCkiPiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJQb2x5Z29uIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjEwIC00LjA2MDI0NDJlLTE0IDE4LjY2MDI1NCA1IDE4LjY2MDI1NCAxNSAxMCAyMCAxLjMzOTc0NTk2IDE1IDEuMzM5NzQ1OTYgNSI+PC9wb2x5Z29uPiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJQb2x5Z29uIiBmaWxsPSIjRjBGMEYwIiBwb2ludHM9IjEwIDEuNjI0MDk3NjhlLTE0IDE4LjY2MDI1NCA1IDE4LjY2MDI1NCAxNSAxMCAyMCAxLjMzOTc0NTk2IDE1IDkuOTk5OTk5NzYgMTAiPjwvcG9seWdvbj4gICAgICAgICAgICA8cG9seWdvbiBpZD0iUG9seWdvbiIgZmlsbD0iI0U3RTdFNyIgcG9pbnRzPSIxOC42NjAyNTQgMTUgMTAgMjAgMS4zMzk3NDU5NiAxNSA5Ljk5OTk5OTc2IDEwIj48L3BvbHlnb24+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4="); */

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home-img img {
  width: 30vw;
  margin-right: -4rem;
}

.home-img img {
  /* transform: translate(-50%, -50%); */
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @keyframes unzoom {
  from {
    transform: scale(0.8);
  }
  to {
    width: 35vw;
    transform: scale(1);
  }
}

.unzoom-image {
  animation: unzoom 1s ease-in-out forwards;
} */

.home-content h3 {
  
  font-size: 3.2rem;
  font-weight: 700;
  color: #2e8a9a;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

/* span {
  color: blue;
} */
.home-content {
  margin-left: 30rem;
  margin-top: 20rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}
.home-content h1 {
  font-size: 6.6rem;
  font-weight: 900;
  line-height: 1.3;
  color: #37ccea;
}

.home-content p {
  font-size: 1.6rem;
  color: #a3a5ae;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.0rem;
  margin-left: 2.5rem;
  background: #b5e5ee;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: rgb(8, 71, 120);
  letter-spacing: 0.3rem;
  /* margin-top: 2rem; */
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  color: #5cbddb;
}

#main-content {
  height: 100%;
  width: 100%;
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #3290b8;
  background-color: var(--bg-color);
}
#main-content #header-1 {
  font-size: 28px;
  font-weight: 200;
}
#main-content #header-2 {
  font-size: 28px;
  font-weight: 600;
  padding: 15px 0 20px;
}
#main-content #body {
  text-align: center;
  font-size: 14px;
  line-height: 1.4rem;
  color: rgba(76, 78, 97, 0.5);
  width: 50rem;
  padding-bottom: 40px;
}
#main-content #card-body {
  display: flex;
  align-items: center;
}
#main-content #card-body #card-1 {
  border-top: 3px solid #45d3d3;
}
#main-content #card-body #card-1:hover {
  background: linear-gradient(to bottom, rgba(69, 211, 211, 0.5), transparent);
  transform: scale(1.05);
  box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
}
#main-content #card-body #card-2 {
  border-top: 3px solid #ea5353;
}
#main-content #card-body #card-2:hover {
  background: linear-gradient(
    to bottom,
    rgba(234, 83, 83, 0.4) 5%,
    transparent 90%
  );
  transform: scale(1.05);
  box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
}
#main-content #card-body #card-3 {
  border-top: 3px solid #fcaf4a;
}
#main-content #card-body #card-3:hover {
  background: linear-gradient(
    to bottom,
    rgba(252, 175, 74, 0.5),
    transparent 85%
  );
  transform: scale(1.05);
  box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
}
#main-content #card-body #card-4 {
  border-top: 3px solid #549ef2;
}
#main-content #card-body #card-4:hover {
  background: linear-gradient(to bottom, rgba(84, 158, 242, 0.5), transparent);
  transform: scale(1.05);
  box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
}
#main-content #card-body .card {
  background: white;
  margin: 1rem 1rem;
  padding: 1.8rem;
  width: 35rem;
  height: 20rem;
  border-radius: 5px;
  box-shadow: 0px 9px 20px 1px rgba(0, 0, 0, 0.1);
  transition: 0.5s all;
}
#main-content #card-body .card .card-title {
  font-weight: 600;
  margin-bottom: 15px;
}
#main-content #card-body .card .card-body {
  font-size: 10px;
  line-height: 1.2rem;
  color: #a3a5ae;
}
#main-content #card-body .card #card-cont {
  display: flex;
  justify-content: flex-end;
}
#main-content #card-body .card #card-cont .card-img {
  padding-top: 20px;
  width: 25%;
}

@media only screen and (max-width: 675px) {
  #main-content #card-body {
    display: inline-block;
  }
}
@media only screen and (max-width: 375px) {
  #main-content #header-2 {
    text-align: center;
    width: 22rem;
  }
  #main-content #body {
    width: 18rem;
  }
  #main-content #card-body {
    display: inline;
  }
}

.services h2 {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  background: var(--bg-color);
  margin: 2rem 5rem;
  /* height: 20rem; */
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  /* background: var(--bg-color); */
  padding: 3rem 2rem 4rem;
  border-radius: 1.5rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

#contact {
  background-color: #ecf2f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}

.contact-links {
  background-color: #dde3ec;
  background: radial-gradient(
      circle at 55% 92%,
      #426691 0 12%,
      transparent 12.2%
    ),
    radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
    radial-gradient(
      circle at 20% max(78%, 350px),
      #263a53 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%), #293445;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links,
  .contact-form-wrapper {
    width: 100%;
  }

  .contact-links {
    border-radius: 10px 10px 0 0;
  }

  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

.contact h2 {
  font-family: "Arimo", sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
}

.contact .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.contact .link {
  margin: 10px;
  cursor: pointer;
}

.contact img {
  width: 45px;
  height: 45px;
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}

.contact img:hover {
  transform: scale(1.1, 1.1);
}

.contact img:active {
  transform: scale(1.1, 1.1);
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.contact .form-item {
  position: relative;
}

.contact label,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.contact label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

.contact input,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

.contact input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}

.contact .submit-btn {
  background-color: #3476af;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.contact .submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.contact .submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  .contact h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  .contact h2 {
    font-size: clamp(30px, 12vw, 60px);
  }

  .contact .links {
    padding-top: 30px;
  }

  .contact img {
    width: 38px;
    height: 38px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: rgb(54, 127, 183);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: rgb(62, 137, 156);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: rgb(90, 90, 142);
}

#canvas {
  display: block;
}
body,
html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

/* body {
  position: relative;
  background: #6ab8c6;
} */

body::after {
  z-index: 10;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-image: radial-gradient(
    rgba(177, 133, 187, 0) 10%,
    rgba(254, 254, 255, 0.7) 100%
  );
}
