@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #fcfdfe;
  --second-bg-color: #84c2cd;
  --text-color: #f8f8f8;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  background-color: linear-gradient(to right, black, black);
  background-image:url("https://blog.academyoflearning.com/wp-content/uploads/2017/04/bigstock-Home-health-care-worker-and-an-13926641.jpg");
  background-size: 100% 100%;
  /* background-position: left top; url("overlay.png"), */
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 /* .button{
   height: 45px;
   margin: 35px 0
 }
 .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 .button input:hover{
  /* transform: scale(0.99); 
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  } */

  .button {
    background-color: #71b7e6; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
    width: 30px;
    height: 15px;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  section {
    min-height: 70vh;
    margin-top: 10rem;
    /* padding: 10rem 9% 2rem; */
  }
  
  /* .header {
    position: fixed;
    padding: 10rem 9% 2rem;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #70bfcd;
    z-index: 100;
  }
  
  .header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
  }
  
  .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
  }
  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color);
  } */
  .header {
    position: fixed;
    padding: 10rem 9% 2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #70bfcd;
    z-index: 100;
  }
  
  .header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
  }
  
  .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
  }
  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color);
  }
  
  #menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
  }
  #main-content {
    height: 100%;
    width: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #3290b8;
    background-color: var(--bg-color);
  }
  #main-content #header-1 {
    font-size: 28px;
    font-weight: 200;
  }
  #main-content #header-2 {
    font-size: 28px;
    font-weight: 600;
    padding: 15px 0 20px;
  }
  #main-content #body {
    text-align: center;
    font-size: 14px;
    line-height: 1.4rem;
    color: rgba(76, 78, 97, 0.5);
    width: 50rem;
    padding-bottom: 40px;
  }
  #main-content #card-body {
    display: flex;
    align-items: center;
  }
  #main-content #card-body #card-1 {
    border-top: 3px solid #45d3d3;
  }
  #main-content #card-body #card-1:hover {
    background: linear-gradient(to bottom, rgba(69, 211, 211, 0.5), transparent);
    transform: scale(1.05);
    box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
  }
  #main-content #card-body #card-2 {
    border-top: 3px solid #ea5353;
  }
  #main-content #card-body #card-2:hover {
    background: linear-gradient(
      to bottom,
      rgba(234, 83, 83, 0.4) 5%,
      transparent 90%
    );
    transform: scale(1.05);
    box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
  }
  #main-content #card-body #card-3 {
    border-top: 3px solid #fcaf4a;
  }
  #main-content #card-body #card-3:hover {
    background: linear-gradient(
      to bottom,
      rgba(252, 175, 74, 0.5),
      transparent 85%
    );
    transform: scale(1.05);
    box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
  }
  #main-content #card-body #card-4 {
    border-top: 3px solid #549ef2;
  }
  #main-content #card-body #card-4:hover {
    background: linear-gradient(to bottom, rgba(84, 158, 242, 0.5), transparent);
    transform: scale(1.05);
    box-shadow: 0px 15px 15px 16px rgba(0, 0, 0, 0.1);
  }
  #main-content #card-body .card {
    background: white;
    margin: 1rem 1rem;
    padding: 1.8rem;
    width: 35rem;
    height: 20rem;
    border-radius: 5px;
    box-shadow: 0px 9px 20px 1px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
  }
  #main-content #card-body .card .card-title {
    font-weight: 600;
    margin-bottom: 15px;
  }
  #main-content #card-body .card .card-body {
    font-size: 10px;
    line-height: 1.2rem;
    color: #a3a5ae;
  }
  #main-content #card-body .card #card-cont {
    display: flex;
    justify-content: flex-end;
  }
  #main-content #card-body .card #card-cont .card-img {
    padding-top: 20px;
    width: 25%;
  }
  
  @media only screen and (max-width: 675px) {
    #main-content #card-body {
      display: inline-block;
    }
  }
  @media only screen and (max-width: 375px) {
    #main-content #header-2 {
      text-align: center;
      width: 22rem;
    }
    #main-content #body {
      width: 18rem;
    }
    #main-content #card-body {
      display: inline;
    }
  }
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}  
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
 
