<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareBot</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
  </head>
  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo">CAREBOT</a>

      <i class="bx bx-menu" id="menu-icon"></i>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Team</a>
        <a href="#contact">Contact</a>
        <a href="/login"><button class="btn" id="connect-button" >Sign-up Today!</button></a>
        <script>
          
          document
            .getElementById("connect-button")
            .addEventListener("click", (event) => {
              window.location.assign("signup-login.html");
            });
        </script>
      </nav>
    </header>
    
    <!-- comment -->
    <section class="home" id="home">
      <canvas id="canvas"></canvas>
      <div class="home-content">
        
        <h1>CAREBOT</h1>
        <h3>A Disease diagnosis and Prescription checker.</h3>
        <p>
          CAREBOT is an AI-powered diagnostic system that offers quick, accurate
          diagnoses and prescription checks, improving patient outcomes and
          reducing healthcare costs. With its advanced algorithms and
          user-friendly interface, CAREBOT is poised to revolutionize the way we
          approach healthcare and make medical care more accessible and
          efficient for patients around the world.
        </p>
        <!-- <a href="#" class="btn">Connect Wallet</a> -->
        
      </div>
      

    </section>
    
    <!-- comment -->
    <!-- <hr style="color: black;"> -->
    <hr />
    <section id="about">
      <canvas id="canvas"></canvas>
      <div id="main-content">
        
        <!-- <div id="header-1">Reliable, efficient delivery</div> -->
        <div id="header-2">Why CAREBOT?</div>
        <div id="body">
          CAREBOT is an AI-powered diagnostic system that allows you to input
          your symptoms in text format and receive a quick and accurate
          diagnosis of your illness. The system also comes with a prescription
          checker that verifies whether the prescribed medications are suitable
          for your body and work well together.
        </div>
        <div id="card-body">
          <div id="first-item">
            <a href="/symp">
            <div class="card" id="card-1">
              <div class="card-title">SYMPTOM ANALYSIS</div>
              <div class="card-body">
                CAREBOT analyses the symptoms you input and offers a range of
                potential diagnoses based on the latest medical knowledge and
                algorithms.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-supervisor.svg"
                />
              </div>
            </div>
          </a>
          </div>
          <div id="second-item">
            <div class="card" id="card-2">
              <div class="card-title">Prescription Checker</div>
              <div class="card-body">
                CAREBOT checks your prescription and ensures that the
                medications are safe to take, compatible with your body, and do
                not cause adverse reactions.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-team-builder.svg"
                />
              </div>
            </div>
            <div class="card" id="card-3">
              <div class="card-title">Accuracy</div>
              <div class="card-body">
                CAREBOT provides a high level of accuracy in its diagnosis and
                prescription checks, thanks to its advanced algorithms and
                machine learning technology.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-karma.svg"
                />
              </div>
            </div>
          </div>
          <div id="third-item">
            <div class="card" id="card-4">
              <div class="card-title">User-Friendly Interface</div>
              <div class="card-body">
                CAREBOT is easy to use, with a simple interface that allows you
                to enter your symptoms and receive a diagnosis and prescription
                check in a matter of minutes.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-calculator.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- OUR TEAM -->
    <section class="services" id="services">
      <h2 class="heading">Our <span>Team</span></h2>
      <div class="services-container">
        <div class="services-box">
          <img
            style="width: 20%; border: 2px solid white; border-radius: 50%"
            src="{{ url_for('static',filename='images/man.png') }}"
            alt=""
          />
          <h3>Avi Mandavia</h3>
          <p style="text-align: justify">
            Worked on diagnosis prediction model and frontend of the website. Being a skilled frontend developer, I take immense satisfaction in
            my competence in HTML, CSS, and JavaScript.
          </p>
          <!-- <a href="#" class="btn">Read More</a> -->
        </div>

        <div class="services-box">
          <img
            style="width: 20%; border: 2px solid white; border-radius: 50%"
            src="{{ url_for('static',filename='images/woman.png') }}"
            alt=""
          />
          <h3>Manya Sharma</h3>
          <p style="text-align: justify">
            Worked on diagnosis prediction model and frontend of the website. Being a skilled frontend developer, I take immense satisfaction in
            my competence in HTML, CSS, and JavaScript.
          </p>
          <!-- <a href="#" class="btn">Read More</a> -->
        </div>

        <div class="services-box">
          <img
            style="width: 20%; border: 2px solid white; border-radius: 50%"
            src="{{ url_for('static',filename='images/woman.png') }}"
            alt=""
          />
          <h3>Raj Laxmi Singh</h3>
          <p style="text-align: justify">
            Worked on diagnosis prediction model and frontend of the website. Being a skilled frontend developer, I take immense satisfaction in
            my competence in HTML, CSS, and JavaScript.
          </p>
          <!-- <a href="#" class="btn">Read More</a> -->
        </div>
      </div>
    </section>

    <!-- contact form -->
    <section id="contact" class="contact">
      <div class="contact-box">
        <div class="contact-links">
          <h2>CONTACT</h2>
          <div class="links">
            <div class="link">
              <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
            </div>
            <div class="link">
              <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
            </div>
            <div class="link">
              <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
            </div>
            <div class="link">
              <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
            </div>
          </div>
        </div>
        <div class="contact-form-wrapper">
          <form>
            <div class="form-item">
              <input type="text" name="sender" required>
              <label>Name:</label>
            </div>
            <div class="form-item">
              <input type="text" name="email" required>
              <label>Email:</label>
            </div>
            <div class="form-item">
              <textarea class="" name="message" required></textarea>
              <label>Message:</label>
            </div>
            <button class="submit-btn">Send</button>  
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2023 Team CAREBOT | All Rights Reserved.</p>
      </div>

      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

  </body>
  
  <script src="{{ url_for('static',filename='script.js') }}"></script>
</html>
